node_modules/
.next/
out/
.env
.DS_Store
.vscode/
npm-debug.log*
dist/
coverage/
*.tsbuildinfo
apps/main-site/api/local.settings.json
apps/main-site/public/images/
apps/workbench/public/images/
packages/assets/public/images/